@import "~bootstrap/scss/bootstrap";
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.App {
  text-align: center;
}

.ag-theme-alpine {
  @include ag-theme-alpine((
    odd-row-background-color: #BFC8DC
  ));
}

.export {
    display: inline;
    float:   right;
    margin:  10px;
}

.dropDownSelect {
  text-align: left;
  display: inline-block;
}
